<div class="row">
    <header class="main-header">
        <div class = "main-title">
            <h3>Escola Prof. Jayme</h3>
        </div>
        <div class = "main-nav">
            <a href="/">Home</a>
            <a href="">Cadastro de Alunos</a>
            <a href="/payments">Consulta Pagamentos</a>
        </div>
    </header>
</div>
