<div class="row">
    <header class="main-header">
        <div class = "main-title">
            <h3><i class="fa fa-graduation-cap fa-lg"></i> Escola Prof. Jayme</h3>
        </div>
        <div class = "main-nav">
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="">Alunos</a></li>
                <li class="has-submenu"><a href="#">Caixa</a>
                    <ul class="submenu">
                        <li><a href="/cash/input">Lançamentos</a></li>
                        <li><a href="">Consulta</a></li>
                    </ul>
                </li>
                <li class="has-submenu"><a href="#">Tesouraria</a>
                    <ul class="submenu">
                        <li><a href="/treasury/update">Lançamentos</a></li>
                        <li><a href="/treasury/list/details">Consulta</a></li>
                    </ul>
                </li>
                <li class="has-submenu"><a href="#">Mensalidades</a>
                    <ul class="submenu">
                        <li><a href="/payment">Lançamentos</a></li>
                        <li><a href="/payment/summary">Consulta</a></li>
                    </ul>
                </li>
                <li><a href="">Outros</a></li>
            </ul>   
        </div>
    </header>
</div>
