<div class="row">
    <header class="main-header">
        <div class = "main-title">
            <h3><i class="fa fa-graduation-cap fa-lg"></i> Escola Prof. Jayme</h3>
        </div>
        <div class = "main-nav">
            <a href="/">Home</a>
            <a href="">Alunos</a>
            <a href="/cash/input">Caixa</a>
            <a href="/treasury/update">Tesouraria</a>
            <a href="/payments">Mensalidades</a>
        </div>
    </header>
</div>
