<div class="row">
    <div class="form-centered">
        <form action="/cash/input" method="post" class="form-centered">
            <div class="standard-input">
                <ul>
                    <li><i class="fa fa-money"></i><a href="/cash/money"> Dinheiro</a></li>
                    <li><i class="fa fa-id-card-o"></i><a href="/cash/vale"> Vales</a></li>
                    <li><i class="fa fa-pencil-square-o"></i><a href="/cash/check"> Cheques</a></li>
                </ul> 
            </div>
        </form> 
    </div>
</div>