
<div class="row">
    <div class="form-centered">
        <form action="/payment/output" method="post">
            <div class="standard-input">
                <label>Aluno :</label>
                <select name="studentId">
                    <option></option>
                    {{# each listNames}}
                        <option value={{studentId}}>{{studentName}}</option>
                    {{/each}}
                </select>
            </div>
            
            <div>
                <input type="submit" value="Buscar">
            </div>
        </form> 
    </div>
</div>

