
<div class="row">
    <div>
        <form action="/payment/output" method="post" class="form-centered">
            <div class="standard-input">
                <label>Aluno :</label>
                <select name="studentId" id="studentList">
                    <option></option>
                    {{# each listNames}}
                        <option value={{studentId}}>{{studentName}}</option>
                    {{/each}}
                </select>
                <input type="hidden" name="studentName" id="studentName">
            </div>
            
            <div>
                <input type="submit" value="Buscar" class="btn-orange">
            </div>
        </form> 
    </div>
</div>
<script>
    select("studentList", "studentName");
    function select(sel, inp) {
        var sel = document.getElementById(sel);
        var inp = document.getElementById(inp);
        if(sel && inp){
            sel.addEventListener('change', function(){
            inp.value = sel.options[sel.selectedIndex].text;
            }, false);
        } 
    }
</script>

