<div class="row">
    <div>
        <form action="/payment/update/post" method="post" class="form-centered">
            <div>
                <div class="standard-input">
                    <label>Atualização de Pagamentos : <span class="underlined-title">{{name}}</span></label>
                </div>
                <div class="standard-input">
                    <label>Mês de Referência :</label>
                    <select name="mesId">
                        <option></option>
                        {{# each listDates}}
                            <option value={{id}}>{{dateName}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="standard-input">
                    <label>Valor Pago (R$) :</label>
                    <input type="text" class="simple-input" name="payment">
                </div>

                <div class="standard-input">
                    <label>Local do Pagamento :</label>
                    <select name="localName" id="local">
                        <option value="Banco">Banco</option>
                        <option value="Tesouraria">Tesouraria</option>
                    </select>
                </div>
                <div class="standard-input" id="forma">
                    <label>Forma de Pagamento :</label>
                    <input type="radio" name="forma" value=1 checked>Dinheiro
                    <input type="radio" name="forma" value=2>Cheque
                    <input type="radio" name="forma" value=3>Cartão
                </div>
                <div class="standard-input">
                    <label>Data do Pagamento :</label>
                    <input type="date" class="simple-input" name="date">
                </div>
            </div>

            <div>
                <input type="submit" value="Lançar">
            </div>
        </form> 
    </div>
</div>

<script>
    var elem = document.getElementById("local");
    elem.addEventListener('change', showElem, true);
    function showElem() {
        document.getElementById("forma").style.display = "block";
    }

</script>