
<form action="/treasury/list/details/output" method="post" class="form-centered">
    <div class="row">
        <div class="standard-input">
            <label>Data inicial :</label>
            <input type="date" name="date_init">
        </div>
        <div class="standard-input">
            <label>Data final :</label>
            <input type="date" name="date_end">
        </div>
        <div>
            <input type="submit" value="Buscar">
        </div>
    </div>
</form>