<div class="row">
    <div class="form-centered">
        <form action="/cash/vale/output" method="post" name="valeForm">
            <div class="standard-input">
                    <label>Data :</label>
                    <input type="date" class="simple-input" name="date">
            </div>
            <div class="standard-input">
                <label>Descrição :</label>
                <input type="text" class="text-input" name="description">
            </div>
            <div class="standard-input">
                <label>Valor (R$) :</label>
                <input type="text" class="simple-input" name="value">
            </div>
            <div>
                <input type="submit" value="Lançar">
            </div>
        </form> 
    </div>
</div>