/*--- Basic Setup ---*/
* {
    margin: 0;
    padding: 0;
}

/*--- Global Setup ---*/
body {
    font-family: 'Roboto', Verdana, Tahoma, sans-serif;
    font-weight: lighter;
    font-size: 16px;
    color: #4F4F4F
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

/*--- Header Setup ---*/
/* Responsive Flexbox Dropdown Navigation - Jeff Weese*/
.main-header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    background-color: lightgray;
    margin-top: 1em;
}
.main-title h3 {
    padding: 1rem;
}

.menu {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.menu li {
    list-style-type: none;
}
.menu li a {
    display:flex;
    text-align:center;
    text-decoration: none;
    color: #777;
    padding:1rem;
}
.menu li a:hover {
    background: #777;
    color:#fff;
}
.has-submenu > a:after {
    font-family:'FontAwesome';
    font-size:0.8em;
    content:'\f078';
    padding: 1px;
}
header ul ul {
    display:none;
    position:absolute;
}
header ul li:hover > ul {
    display: block;
    background:#777;
}
header ul li:hover > ul a {
    color: #fff;
}
.submenu li a:hover {
    background: #ddd;
    color:#777;
}
/*--- Forms ---*/
.form-centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.form-centered-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
}

.simple-input, .text-input {
    border: none;
    border-bottom: 1px solid lightgray;
    text-align: center;
    outline: none;
    line-height:1.5em;
}

.standard-input {
    font-size: 0.8em;
    margin-top: 20px;
}

.standard-input select {
    height: 1.5rem;
}

.standard-input ul {
    list-style: none;
}

.standard-input li {
    margin-bottom: 1em;
    text-decoration: none;
}

.standard-input li a {
    text-decoration: none;
}

.underlined-title {
    font-weight: 400;
    text-decoration: underline;
}

input[type="radio"] {
    display: inline-block;
    height: 1.2em;
    margin-right: 0.65em;
}

.form-total {
    font-size: 1em;
    font-weight: bold;
    border: none;
    text-align: center;
}

fieldset {
    padding: 0 0.8em;
    border: 1px solid lightgray;
}

fieldset legend {
    font-size: 0.8em;
    padding: .3em;
}

/*--- Output Table ---*/
.output-table {
    margin: 1.25em auto;
    font-size: 0.75em;
}

.output-table th {
    border-bottom: 1px solid gray;
    padding: .35em;
}

.output-table td {
    border-bottom: 1px solid lightgray;
    padding: .35em;
}

.table-value {
    text-align: right;
}

/*--- Buttons ---*/
.btn, input[type=submit] {
    padding: 0.6em 1.25em;
    text-decoration: none;
    border-radius: 0.25em;
    color: white;
    font-size: 0.8rem;
    margin: 2.5em auto;
}

.btn-orange {
    background-color: #e67e22;
    border: 1px solid #e67e22;
}

.btn-blue {
    background-color: #2F22E6;
    border: 1px solid #2F22E6;
}

#forma {
    display: none;
}
