/*--- Basic Setup ---*/
* {
    margin: 0;
    padding: 0;
}

/*--- Global Setup ---*/
body {
    font-family: 'Roboto', Verdana, Tahoma, sans-serif;
    font-weight: lighter;
    font-size: 16px;
    color: #4F4F4F
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

/*--- Header Setup ---*/
.main-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background-color: lightgray;
    margin-top: 1em;
}

.main-title, .main-nav{
    padding: 15px;
}

.main-nav a {
    padding: 10px;
    text-decoration: none;
    color: #000085;
    padding-bottom: 1px;
}

/*--- Forms ---*/
.form-centered {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 30px;
}

.standard-input {
    font-size: 0.8em;
    margin: 20px auto;
    height:1.5em;
    text-align: center;
}

.underlined-title {
    font-weight: 400;
    text-decoration: underline;
}

input[type="radio"] {
    display: inline-block;
    height: 1.2em;
    margin-right: 0.65em;
}

/*--- Output Table ---*/
.output-table {
    margin: 1.25em auto;
    font-size: 0.75em;
}

.simple-input {
    border: none;
    border-bottom: 1px solid lightgray;
    text-align: center;
}

.output-table th {
    border-bottom: 1px solid gray;
    padding: .35em;
}

.output-table td {
    border-bottom: 1px solid lightgray;
    padding: .35em;
}

.table-value {
    text-align: right;
}

/*--- Buttons ---*/
.btn, input[type=submit] {
    padding: 0.6em 1.25em;
    text-decoration: none;
    border-radius: 0.25em;
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: white;
    font-size: 0.8rem;
    margin: 2.5em auto;
}

#forma {
    display: none;
}
